body {
  font-size: 16px;
  color: grey;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}
h1{
  text-align: center;
}
ul li  div {
  min-width: 100%;
  width: 100%;
}
#first_canvas, #second_canvas{
  width: 800px;
  height: 600px;
  border-style: solid;
  border-width: 1px;
  margin: 1em auto 4em auto;
}
#first_canvas_title, #second_canvas_title {
  text-align: center;
  font-size: 2em;
}
ul {
  list-style-type: none;
}
#message_box{
  height: 3em;
  margin: 0 0 0 0;
}
#list{
  margin: 2em 0 0 0;
}
.button-group{
  margin: 0 2em 0 2em; 
}


main {
  min-height: calc(100vh - 144px);
}