
<link rel="stylesheet" href="css/sag.css">

<div class="container" id="main-content">
	<div  ng-controller="SagController as sagCtrl">
  		<h2 id="menu-categories-title" class="text-center">Wire Sag Modelling</h2>
  		<div class="text-center"> 
  			<span ng-if="sagCtrl.stage == 0">Enter the sag parameters or try <md-button class="md-raised" ng-click=sagCtrl.loadTestData();>Load Test Data</md-button></span>
  			<span ng-if="sagCtrl.stage == 1">You still can  <md-button class="md-raised" ng-click=sagCtrl.loadTestData();>Load Test Data</md-button> or <md-button class="md-raised" ng-click=sagCtrl.clearData();>Clear Data</md-button></span>
  			<span ng-if="sagCtrl.stage == 2">To erase inputs <md-button class="md-raised" ng-click=sagCtrl.clearData();>Clear Data</md-button> or <md-button class="md-raised" ng-click=sagCtrl.secureInput();>Secure Inputs</md-button> to continue on custom crossings</span>
  			<span ng-if="sagCtrl.stage == 3">Click on the diagram to enter custom crossing lertical or <md-button class="md-raised" ng-click=sagCtrl.clearData();>Clear Data</md-button> to start again</span>
  		</div>
  		<form name=sagElevationForm ng-keyup=sagCtrl.drawDiagram();>
  			<fieldset ng-disabled="isDisabledSagElevationForm">
  				<div layout=row flex id=elevation>

  					<md-input-container flex=10%>
          				<label>Elev. at Pole</label>
          				<input required id=Ael ng-model=sagCtrl.AEl name=AEl type=number step=0.1 min=0.00>
          				<div ng-messages="sagElevationForm.AEl.$error" role=alert>
            				<div ng-message="required">This is required.</div>
          				</div>
          			</md-input-container>
          			<span flex=10%></span>
          			<md-input-container flex=10%>
          				<label>Elev. at 1/4</label>
          				<input required id=AQuatEl ng-model=sagCtrl.AQuatEl name=AQuatEl type=number step=0.1 min=0.00>
          				<div ng-messages="sagElevationForm.AQuatEl.$error" role=alert>
            				<div ng-message="required">This is required.</div>
          				</div>
          			</md-input-container>
          			<span flex=10%></span>
          			<md-input-container flex=10%>
          				<label>Elev. at Midspan</label>
          				<input required id=Midel ng-model=sagCtrl.Midel name=Midel type=number step=0.1 min=0.00>
          				<div ng-messages="sagElevationForm.Midel.$error" role=alert>
            				<div ng-message="required">This is required.</div>
          				</div>
          			</md-input-container>
          			<span flex=10%></span>
          			<md-input-container flex=10%>
          				<label>Elev. at 1/4</label>
          				<input required id=BQuatEl ng-model=sagCtrl.BQuatEl name=BQuatEl type=number step=0.1 min=0.00>
          				<div ng-messages="sagElevationForm.BQuatEl.$error" role=alert>
            				<div ng-message="required">This is required.</div>
          				</div>
          			</md-input-container>
          			<span flex=10%></span>
          			<md-input-container flex=10%>
          				<label>Elev. at Pole</label>
          				<input required id=Bel ng-model=sagCtrl.BEl name=BEl type=number step=0.1 min=0.00>
          				<div ng-messages="sagElevationForm.BEl.$error" role=alert>
            				<div ng-message="required">This is required.</div>
          				</div>
          			</md-input-container>

				</div>
			</fieldset>
		</form>
  		
  		<div id=canvas></div>

  		<form name=sagSpanForm ng-keyup=sagCtrl.drawDiagram(); novalidate>
  			<fieldset ng-disabled="isDisabledSagSpanForm">
  				<div layout=row flex class=row id=span>
  					
  					<span flex=10%></span>
          			<md-input-container flex=10%>
          				<label>Distance 1</label>
          				<input required id=sp1 ng-model=sagCtrl.sp1 name=sp1 type=number step=0.1 min=0.00>
          				<div ng-messages="sagSpanForm.sp1.$error" role=alert>
            				<div ng-message="required">This is required.</div>
          				</div>
          			</md-input-container>

          			<span flex=15%></span>
          			<md-input-container flex=10%>
          				<label>Distance 2</label>
          				<input required id=sp2 ng-model=sagCtrl.sp2 name=sp2 type=number step=0.1 min=0.00>
          				<div ng-messages="sagSpanForm.sp2.$error" role=alert>
            				<div ng-message="required">This is required.</div>
          				</div>
          			</md-input-container>

          			<span flex=15%></span>
          			<md-input-container flex=10%>
          				<label>Distance 3</label>
          				<input required id=sp3 ng-model=sagCtrl.sp3 name=sp3 type=number step=0.1 min=0.00>
          				<div ng-messages="sagSpanForm.sp3.$error" role=alert>
            				<div ng-message="required">This is required.</div>
          				</div>
          			</md-input-container>

          			<span flex=15%></span>
          			<md-input-container flex=10%>
          				<label>Distance 4</label>
          				<input required id=sp4 ng-model=sagCtrl.sp4 name=sp4 type=number step=0.1 min=0.00>
          				<div ng-messages="sagSpanForm.sp4.$error" role=alert>
            				<div ng-message="required">This is required.</div>
          				</div>
          			</md-input-container>
          			<span flex></span>          			
					
  				</div>
  			</fieldset>
		</form>

		<form name=grndElevationForm ng-keyup=sagCtrl.drawDiagram(); novalidate>
			<fieldset ng-disabled="isDisabledGrndElevationForm">
  				<div layout=row flex class=row id=ground>
  					
          			<md-input-container flex=10%>
          				<label>Elev. at Pole</label>
          				<input required id=AGr ng-model=sagCtrl.AGr name=AGr type=number step=0.1 min=0.00>
          				<div ng-messages="grndElevationForm.AGr.$error" role=alert>
            				<div ng-message="required">This is required.</div>
          				</div>
          			</md-input-container>

          			<span flex=10%></span>
          			<md-input-container flex=10%>
          				<label>Elev. at 1/4</label>
          				<input required id=AQuatGr ng-model=sagCtrl.AQuatGr name=AQuatGr type=number step=0.1 min=0.00>
          				<div ng-messages="grndElevationForm.AQuatGr.$error" role=alert>
            				<div ng-message="required">This is required.</div>
          				</div>
          			</md-input-container>

          			<span flex=10%></span>
          			<md-input-container flex=10%>
          				<label>Elev. at Mid</label>
          				<input required id=Midgr ng-model=sagCtrl.Midgr name=Midgr type=number step=0.1 min=0.00>
          				<div ng-messages="grndElevationForm.Midgr.$error" role=alert>
            				<div ng-message="required">This is required.</div>
          				</div>
          			</md-input-container>

          			<span flex=10%></span>
          			<md-input-container flex=10%>
          				<label>Elev. at 1/4</label>
          				<input required id=BQuatGr ng-model=sagCtrl.BQuatGr name=BQuatGr type=number step=0.1 min=0.00>
          				<div ng-messages="grndElevationForm.BQuatGr.$error" role=alert>
            				<div ng-message="required">This is required.</div>
          				</div>
          			</md-input-container>

          			<span flex=10%></span>
          			<md-input-container flex=10%>
          				<label>Elev. at Pole</label>
          				<input required id=BGr ng-model=sagCtrl.BGr name=BGr type=number step=0.1 min=0.00>
          				<div ng-messages="grndElevationForm.BGr.$error" role=alert>
            				<div ng-message="required">This is required.</div>
          				</div>
          			</md-input-container>

  				</div>
  			</fieldset>
  		</form>
  		<div ng-if="grndElevationForm.$valid && sagSpanForm.$valid && sagElevationForm.$valid" ng-init=sagCtrl.drawDiagram()></div>
  
  		<div>
  	
  			<table ng-if="sagCtrl.tableContent" class="table table-bordered">
  				<tr>
  					<th class=text-center>CHAINAGE</td>  					
  					<th class=text-center>GROUND ELEVATION</th>
  					<th class=text-center>WIRE ELEVATION</th>
  					<th class=text-center>HEIGHT</th>
  					<th class=text-center>NAME</th>
  				</tr>
  				<tr ng-repeat="row in sagCtrl.tableContent">
  					<td class=text-right>{{ row.chain | chainageFilter:1 }}</td>  					
  					<td class=text-right>{{ row.groundElevation | number:2 }}</td>
  					<td class=text-right>{{ row.wireElevation | number:2 }}</td>
  					<td class=text-right>{{ row.wireElevation - row.groundElevation | number:2 }}</td>
  					<td class=text-left>  						
  						<md-input-container md-no-float>  							
  							<input type="text" ng-model="row.name" md-maxlength=30 maxlength=30 placeholder="{{ row.name | uppercase }}" aria-label="crossing-enrty">
						</md-input-container>						
  					</td>
  				</tr>
  			</table>
  		</div>  	
	</div>
</div>
