<!-- <link rel="stylesheet" href="css/about.css"> -->
<div class="container" id="main-content" flex>
  <h2 id="menu-categories-title" class="text-center">About the proejct(s) and people involved</h2>
  <div layout="row" flex class="frameContainer" layout-padding layout-wrap layout-fill layout-align="center center" style="padding-bottom: 10em;" ng-cloak>

	  <md-whiteframe class="md-whiteframe-3dp" flex=100 layout>
	    <span>Current mobile friendly application created by a group of developers with deep and extensive experience in Software Development, CAD and GIS. This is a prototype of tools for Geographic Technology industry to provide help with calculations as well as present the data in the convenient way. Now, the calculation of some points in O/H crossing may take 10 min instead of 1 hour. No license for a CAD software required. Able to make it right in the field!</span>
	  </md-whiteframe>

	  <md-whiteframe class="md-whiteframe-3dp" flex=100 layout>
	    <span>If you want to share your thoughts on some improvements of currently presenter tools or there is a need for something outstanding to be developed - you are welcome to share it with us.</span>
	  </md-whiteframe>

  </div>
</div>