  <md-content>
    <div layout="row" flex class="frameContainer" layout-padding layout-wrap layout-fill layout-align="center center">

	  <md-whiteframe class="md-whiteframe-3dp" flex=100 layout>
	    <span>
	    	<p>- Signing-in in development</p>
	    	<p>- Wire Sag Modelling is active, saving in development</p>
	    	<p>- Points Adjustment Tool is in development</p>
	    </span>
	  </md-whiteframe>
	</div>

	<div layout="row" flex layout-padding layout-wrap layout-fill ng-cloak ng-controller=ToolsController>
      
      <md-card md-theme="default" md-theme-watch flex-sm="80%" flex-gt-sm="60%" flex-gt-md="35%" md-whiteframe=3 ui-sref="public.sag" layout>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Wire Sag Model</span>
            <span class="md-subhead">O/H Crossing sketch and table</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ui-sref="public.sag" class="md-fab" aria-label="Open the tool">OPEN</md-button>          
        </md-card-actions>
      </md-card>

      <md-card md-theme="default" md-theme-watch flex-sm="80%" flex-gt-sm="60%" flex-gt-md="35%" md-whiteframe=3 layout>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Survey Points Adjustment</span>
            <span class="md-subhead">Adjust your day survey points to the control points</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ui-sref="public.sag" disabled title="in development" class="md-fab" aria-label="Open the tool">OPEN</md-button>          
        </md-card-actions>
      </md-card>



	</div>
  </md-content>
<!-- flex-sm="80%" flex-gt-sm="60%" flex-gt-md="60%" -->